<?xml version="1.0"?>
<configuration>
  <sitecore>
    <settings>
      <setting name="CrunchPng.ReplaceExisting" value="true" />
      <setting name="CrunchPng.UseBrute" value="false" />
    </settings>
    <pipelines>
      <crunchPng>
          <processor type="LaubPlusCo.CrunchPng.Pipeline.LocatePngCrunchExecutable, LaubPlusCo.CrunchPng" />
          <processor type="LaubPlusCo.CrunchPng.Pipeline.CreateTemporaryFiles, LaubPlusCo.CrunchPng" />
          <processor type="LaubPlusCo.CrunchPng.Pipeline.CrunchPng, LaubPlusCo.CrunchPng" />
          <processor type="LaubPlusCo.CrunchPng.Pipeline.SaveCrunchedPngAsMediaItem, LaubPlusCo.CrunchPng" />
      </crunchPng>
    </pipelines>
  </sitecore>
</configuration>